@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

header,
main,
footer {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

header h1 {
  text-align: center;
  font-size: 4em;
  margin: 0;
}

header h3 {
  text-align: center;
  margin: 0.6em 0;
}
