@import url("https://rsms.me/inter/inter.css");

* {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: "Inter var", sans-serif;
  }
}
.underlined_pointer {
  text-decoration: underline;
  cursor: pointer;
}

html {
  height: 100vh;
  overflow-y: hidden;
}

body {
  height: 100vh;
  overflow-y: scroll;
}

#app {
  margin-top: 68px;
}

#tab_journey {
  height: 100%;
}

#tab_journey .container {
  height: 100%;
}

.footer {
  padding: 1.5rem 1.5rem;
}
